# name: Polarify

# # Example action of how to use the polarsource/actions/polarify action and auto-commiting the results to the repository.

# on:
#     # Run after every push
#     push:
#         branches: ["main"]
    
#     # Hourly
#     schedule:
#         - cron: "0 * * * *"
    
#     # Allow to trigger manually from the GitHub Actions Web UI
#     workflow_dispatch: {}

# jobs:
#     polarify:
#         name: "Polarify"
#         timeout-minutes: 15
#         runs-on: ubuntu-22.04
    
#         permissions:
#             # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
#             contents: write
    
#         steps:
#         - name: Check out code
#           uses: actions/checkout@v4
#           with:
#             token: ${{ secrets.PAT_EYEGESTURES }}
    
#         - name: Polarify
#           uses: polarsource/actions/polarify@main
#           with:
#             path: "README.md"
#           env:
#             POLAR_API_TOKEN: ${{ secrets.POLAR_API_TOKEN }}
    
#         - uses: stefanzweifel/git-auto-commit-action@v5
#           with:
#             token: ${{ secrets.PAT_EYEGESTURES }}
#             commit_message: Update polar comments
#             branch: main
